.main{
	background-color : white;
}
.exam-title {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
}

.container{
    display: flex;
    gap: 5px;
}

.question{
	white-space: pre-line;
}
.option-correct{
	background: yellow;
	width: fit-content;
}